<!DOCTYPE html>
<html>
<head>
    <title>One</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="./style.css" rel="stylesheet"/>
</head>
<body style="margin:0;padding:0;">
    <div class="container">
            <span class="title">ONE · 一个</span>
            <div>
            <% for(var i=0;i<data.length;i++){ %>
                <span class="text"><%= data[i].text %></span>
                <img src="<%= data[i].img %>" alt="">
                <span class="type"><%= data[i].type %></span>
                <div class="date"><%= data[i].date %></div>
                <hr/>
             <% } %>
             </div>
    </div>
</body>

</html>
